You are an expert. You are given the following problem and a potential solution:
Problem: {{ question }}

Take the following solution with a grain of salt, they might be wrong or incomplete. Try to spot the mistakes in the solution if any to get a more accurate solution.
{{ solution }}
{{ evaluation }}
Output format (Use exact <...> tags in the following format):
<mistake>
If you can identify a mistake in the above reference solution and think of a more accurate one, explain here in a stand-alone manner, you must explain what is the reference solution's final answer, and why is it incorrect. (or write "N/A" if you agree with the reference solution)
</mistake>
<improved_solution>
A paragraph of detailed step-by-step summary of your solution, write thoroughly and in details, note down every steps of calculation you did, and what was the final answer you got. (or write "N/A" if you agree with the reference solution)
</improved_solution>
<insight>
Based on the above mistake identified in the reference solution and the improved solution, write a SINGLE insight in the pseudo-code format of "If (certain situation), then do (what to do)" or "If (certain situation), then do not (what to avoid)" or "If (certain situation), then consider the case (the cases to consider)".
The insight should be specific enough to help fix the mistake AND also understandable without the context of the specific problem, so that it can be applied to future problems with similar situations.
(or write "N/A" if you agree with the reference solution)
</insight>
