<Existing Experiences>
{{ existing_experiences }}
</Existing Experiences>

<New Experiences>
{{ new_experiences }}
</New Experiences>

Follow the requirements to provide your output structured as above.