<Working Agent Input>
{{ question }}
</Working Agent Input>

<Ground Truth>
{{ answer }}
</Ground Truth>

<Critique>
{{ critique }}
</Critique>

<Trajectory
{{ trajectory }}
</Trajectory>

Follow the requirements to provide your output: